In [1]:
# Import the world!
import os
import csv
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import random
import pandas as pd
import numpy as np

## Part Two : Entering links to pick data

In [2]:
csv = './Career_Links_new.csv'
df = pd.read_csv(csv)

In [3]:
df.head()

   Unnamed: 0                                              Links   Region
0           0  https://www.mycareersfuture.sg/job/data-engine...    South
1           1  https://www.mycareersfuture.sg/job/data-scient...    South
2           2  https://www.mycareersfuture.sg/job/data-visual...  Central
3           3  https://www.mycareersfuture.sg/job/data-analys...  Central
4           4  https://www.mycareersfuture.sg/job/data-center...  Central

In [20]:
# Opening the driver
driver = webdriver.Chrome('/Users/paklun/Desktop/materials-master/projects/project-4/chromedriver')

# Setting up lists
company=[]
title=[]
employment=[]
seniority=[]
industry=[]
salary=[]
payment=[]
description=[]
requirements=[]
count=0

# Looping through links to scrape data, impute Nan if error

for x in df.Links[0:25]:
    driver.get(x)
    count +=1
    sleep(random.randint(4,6))
    print('Currently Scraping Link No.',count)
    
    try:
        company.append(driver.find_element_by_name('company').text)
    except:
        company.append(np.nan)
    try:
        title.append(driver.find_element_by_id('job_title').text)
    except:
        title.append(np.nan)    
    try:
        employment.append(driver.find_element_by_id('employment_type').text)
    except:
        employment.append(np.nan)
    try:
        seniority.append(driver.find_element_by_id('seniority').text)
    except:
        seniority.append(np.nan)
    try:
        industry.append(driver.find_element_by_id('job-categories').text)
    except:
        industry.append(np.nan)
    try:
        salary.append(driver.find_element_by_class_name('lh-solid').text)
    except:
        salary.append(np.nan)
    try:
        payment.append(driver.find_element_by_class_name('salary_type').text)
    except:
        payment.append(np.nan)      
    try:
        description.append(driver.find_element_by_id('job_description').text)
    except:
        description.append(np.nan)
    try:
        requirements.append(driver.find_element_by_id('requirements').text)
    except:
        requirements.append(np.nan)
    
    if count%50==0:
        data = pd.DataFrame({'Company':company,'Title':title,'Employment Type':employment,'Seniority':seniority,'Industry':industry,'Salary':salary,'Payment':payment,'Description':description, 'Requirements':requirements })
        result = pd.concat([df,data], axis=1,sort=False)
        result.to_csv('Career_Database2.csv')
        print('Savepoint:',count)

Currently Scraping Link No. 1
Currently Scraping Link No. 2
Currently Scraping Link No. 3
Currently Scraping Link No. 4
Currently Scraping Link No. 5
Saved at No. 5
Currently Scraping Link No. 6
Currently Scraping Link No. 7
Currently Scraping Link No. 8
Currently Scraping Link No. 9
Currently Scraping Link No. 10
Saved at No. 10
Currently Scraping Link No. 11
Currently Scraping Link No. 12
Currently Scraping Link No. 13
Currently Scraping Link No. 14
Currently Scraping Link No. 15
Saved at No. 15
Currently Scraping Link No. 16
Currently Scraping Link No. 17
Currently Scraping Link No. 18
Currently Scraping Link No. 19
Currently Scraping Link No. 20
Saved at No. 20
Currently Scraping Link No. 21
Currently Scraping Link No. 22
Currently Scraping Link No. 23
Currently Scraping Link No. 24
Currently Scraping Link No. 25
Saved at No. 25

In [18]:
data = pd.DataFrame({'Company':company,'Title':title,'Employment Type':employment,'Seniority':seniority,'Industry':industry,'Salary':salary,'Payment':payment,'Description':description, 'Requirements':requirements })

In [19]:
data

,Company,Title,Employment Type,Seniority,Industry,Salary,Payment,Description,Requirements
0,MONEYSMART SINGAPORE PTE. LTD.,Data Engineer,Full Time,Executive,Information Technology,"$5,000to$7,000",Monthly,Roles & Responsibilities\nMission\nAs part of ...,Requirements\nCompetencies\nDegree in Computer...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SINGAPORE PRESS HOLDINGS LIMITED,Data Visualisation Designer,Permanent,Junior Executive,Design,"$3,500to$4,500",Monthly,Roles & Responsibilities\nDigital arm of Engli...,Requirements\nPrior experience in a data visua...
3,GRABTAXI HOLDINGS PTE. LTD.,Data Analyst,Full Time,Executive,Information Technology,NaN,,Roles & Responsibilities\nGet to know our Team...,Requirements\nThe must haves:\nA Bachelor's/Ma...
4,AMAZON ASIA-PACIFIC RESOURCES PRIVATE LIMITED,Data Center Engineering Project Engineer APAC,Full Time,Professional,"Design, Engineering","$9,000to$12,000",Monthly,Roles & Responsibilities\nThe Data Center Glob...,Requirements\nBasic Qualifications -\nMinimum ...

In [8]:
result = pd.concat([df,data], axis=1,sort=False)

In [9]:
result.to_csv('Career_Database.csv')

In [10]:
# Closes the driver
driver.close()